<div class="container-fluid" ng-controller="FormController">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Forms</h1>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#forms" aria-controls="forms" role="tab" data-toggle="tab">Forms</a></li>
                    <li role="presentation"><a href="#/fields" aria-controls="forms" role="tab">Fields</a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="forms">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <td>
                                    <a href="#" class="btn btn-small"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                    Form Name
                                </td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tr>
                                <td><input ng-models="form.title" type="text" class="form-control" id="title" placeholder="name"></td>
                                <td>
                                    <a ng-click="addForm()" class="btn btn-small"><span class="glyphicon glyphicon-plus"></span></a>
                                    <a ng-click="updateForm()" class="btn btn-small"><span class="glyphicon glyphicon-ok"></span></a>
                                </td>
                            </tr>
                            <tbody>
                            <tr ng-repeat="form in forms"
                                ng-class="{'success' : $index == selectedFormIndex}">
                                <td>{{form.title}}</td>
                                <td>
                                    <a ng-click="deleteForm($index)" class="btn btn-small"><span class="glyphicon glyphicon-remove"></span></a>
                                    <a ng-click="selectForm($index)" class="btn btn-small"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="form-fields">

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

