
    <div class="row">
        <div class="main">
            <div>
                <h3>Login</h3>
            </div>
            <br>
            <div ng-if="error" class="alert alert-danger">
                {{error}}
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button
                                ng-click="login(user)"
                                class="btn btn-primary btn-block">
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
