<div class="container-fluid" ng-controller="RegisterController">
    <div class="row">
        <div class="main">
            <div>
                <h3>Register</h3>
            </div>
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.username" type="text" id="username" placeholder="Username" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="col-sm-2 control-label">Verify Password:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.confirmPassword" type="password" class="form-control" id="inputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.firstName" type="text" id="firstname" placeholder="First Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.lastName" type="text" id="lastname" placeholder="Last Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthdate" class="col-sm-2 control-label">Date of Birth:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.birthdate" type="date" id="birthdate" placeholder="Date of Birth" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-4">
                        <input ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">Gender:</div>
                    <div class="col-sm-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="radio-inline">
                                <input ng-model="user.gender" type="radio" id="female" name="gender" value="female" /> Female
                            </label>
                            <label class="radio-inline">
                                <input ng-model="user.gender" type="radio" id="male" name="gender" value="male" /> Male
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button
                                ng-click="register(user)"
                                class="btn btn-primary btn-block">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>