<div class="container" ng-controller="AuthorController">
    <div class="row">
        <div class="main">
            <div>
                <h3>Search Books by Author</h3>
            </div>

            <div>
                <input ng-model="author" id="authorTxt" class="form-control"/>
                <br>
                <!--
                <button id="searchAuthorBtn" ng-click="searchBook(author)"
                        class="btn btn-primary btn-block">Search Books</button>
                        -->
                <a href="#/author/{{author}}" class="btn btn-primary btn-block">
                    Search Books
                </a>
            </div>
            <div>
                <br>
                <table id="contentTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Poster</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="book in books">
                        <td>
                            <img height="100px" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}"/>
                        </td>
                        <td>
                            {{book.volumeInfo.title}}
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li ng-repeat="author in book.volumeInfo.authors">
                                    {{author}}
                                </li>
                            </ul>
                        </td>
                        <td nowrap>
                            <a href="#/bookDetails/{{book.id}}" class="btn btn-primary">Details</a>
                            <!--
                            <button ng-click="selectBook(book)" class="btn btn-primary">
                                Details
                            </button>
                            -->
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>