/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}
.navbar-brand > img {
    margin: 0 auto;
    max-height: 150%;
    height: 150%;
    -o-object-fit: contain;
    object-fit: contain;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.header-container:hover {
    opacity:0.8;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: darkgrey;
}
.carousel-inner > .item > img {
    position: absolute;
    top: auto;
    left: 0;
    height: 500px;
}

.img-side {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 50px;
    height: 350px;
    width: auto;

}

.img-side:hover {
    opacity: 0.7;
    margin-top: 75px;
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 25px;
    height: 400px;
    width: auto;
}
.img-center {
    margin: 50px;
    height: 450px;
    width: auto;
}

.img-center:hover {
    margin: 30px;
    height: 475px;
    width: auto;
    opacity: 0.7;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    .featurette-image {
        max-height: 400px;
        width: auto;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* VERTICAL SECTIONS
--------------------------------------------------------*/
.mycontent-left {
    border-right: 1px solid slategrey;
}
.mycontent-center {
    border-right: 1px solid slategrey;
    border-left: 1px solid slategrey;
}
.mycontent-right {
    border-left: 1px solid slategrey;
}
.vertical-title {
    text-align: center;
}
.centered {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.poster{
    height: 165px;
}
.main {
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.med-book-hori {
    height: auto;
    width: 200px;
}
.med-book-verti {
    height: 200px;
    width: auto;
}

.bg-dark {
    background-color: slategray;
    color: white;
}

.call-to-action h2 {
    opaque: 0.4;
    margin: 0 auto 20px;
}
aside {
    padding: 50px 0;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoGit:hover {
    background-color:black;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoGit:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.footer-icons a {
    background-color: #D3D3D3;
}