<div class="container-fluid" ng-controller="FieldController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Form : {{formTitle}}</h1>
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#/forms" aria-controls="forms" role="tab">Forms</a></li>
                    <li role="presentation" class="active"><a href="#forms-fields" aria-controls="forms" role="tab" data-toggle="tab">Fields</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="forms">

                    </div>
                    <div role="tabpanel" class="tab-pane active" id="form-fields">
                        <br>


                            <div class="form-group" ng-repeat="field in fields">
                                <label for="{{field.label}}">{{field.label}}</label>
                                <div class="form-horizontal row">
                                    <div class="col-xs-6" ng-switch on="field.type">
                                        <div ng-switch-when="TEXT">
                                            <input type="text" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
                                        </div>
                                        <div ng-switch-when="EMAIL">
                                            <input type="email" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
                                        </div>
                                        <div ng-switch-when="DATE">
                                            <input type="date" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
                                        </div>
                                        <div ng-switch-when="TEXTAREA">
                                            <textarea class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}"></textarea>
                                        </div>
                                        <div ng-switch-when="OPTIONS">
                                            <select class="form-control">
                                                <option value="{{option.value}}" ng-repeat="option in field.options">
                                                    {{option.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div ng-switch-when="CHECKBOXES">
                                            <div class="checkbox" ng-repeat="option in field.options">
                                                <label>
                                                    <input type="checkbox" value="{{option.value}}">{{option.label}}
                                                </label>
                                            </div>
                                        </div>
                                        <div ng-switch-when="RADIOS">
                                            <div class="radio" ng-repeat="option in field.options">
                                                <label>
                                                    <input type="radio" value="{{option.value}}">{{option.label}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formIcons" >
                                        <span class="glyphicon glyphicon-pencil" ng-click="editField(field._id)"
                                              data-toggle="modal"
                                              data-target="#newFieldModal">
                                        </span>
                                        <span class="glyphicon glyphicon-plus" ng-click="duplicateField(field)"></span>
                                        <span class="glyphicon glyphicon-remove" ng-click="deleteField(field._id)"></span>
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </div>
                                </div>
                            </div>

                        <hr>
                        <div class="form-group">
                            <label for="newField">Add New Field </label>
                            <div class="form-horizontal row">
                                <div class="col-xs-6">
                                    <select class="form-control" id="newField" ng-model="fieldType">
                                        <option value="singleLineText">Single Line Text</option>
                                        <option value="date">Date</option>
                                        <option value="dropdown">Dropdown</option>
                                        <option value="checkBoxes">Checkboxes</option>
                                        <option value="radioButtons">Radio Buttons</option>
                                        <option value="paragraphTextField">Paragraph Text Field</option>
                                    </select>
                                </div>
                                <div class="formIcons" >
                                    <span class="glyphicon glyphicon-plus" ng-click="addField(fieldType)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="newFieldModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title text-center" id="modalLabel">Edit Field Properties</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="label" class="col-sm-2 control-label">Label: </label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="label" ng-model="modalField.label">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-switch on="modalField.type">
                                                <div ng-switch-when="TEXT">
                                                    <label for="placeholder" class="col-sm-2 control-label">Placeholder: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text"
                                                               class="form-control" id="placeholder"
                                                               ng-model="modalField.placeholder">
                                                    </div>
                                                </div>
                                                <div ng-switch-when="EMAIL">
                                                    <label for="placeholder2" class="col-sm-2 control-label">Placeholder: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control"
                                                               id="placeholder2" ng-model="modalField.placeholder">
                                                    </div>
                                                </div>
                                                <div ng-switch-when="TEXTAREA">
                                                    <label for="placeholder3" class="col-sm-2 control-label">Placeholder: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="placeholder3"
                                                               ng-model="modalField.placeholder">
                                                    </div>
                                                </div>
                                                <div ng-switch-when="OPTIONS">
                                                    <label for="options1" class="col-sm-2 control-label">Options: </label>
                                                    <div class="col-sm-10">
                                                            <textarea class="form-control" id="options1"
                                                                      ng-model="modalField.options">
                                                            </textarea>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="CHECKBOXES">
                                                    <label for="options2" class="col-sm-2 control-label">Options: </label>
                                                    <div class="col-sm-10">
                                                            <textarea class="form-control" id="options2"
                                                                      ng-model="modalField.options"></textarea>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="RADIOS">
                                                    <label for="options3" class="col-sm-2 control-label">Options: </label>
                                                    <div class="col-sm-10">
                                                            <textarea class="form-control" id="options3"
                                                                      ng-model="modalField.options"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="changeField(modalField)">Ok</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
