<div class="container" ng-controller="OpinionController">
    <div class="container">
        <div class="row" >
            <div class="main">
                <h3 class="vertical-title">
                    User Articles of the Month
                </h3>
                <br>
                <div class="text-center">
                    <h4>Shiva Trilogy - Amish Tripathi</h4><h5> By Nisha Ramakrishnan</h5>
                    <p>
                        The story of Lord Shiva told in 3 parts is one of the most riveting stories that I have read in a long long time. I have always been averse to reading books by Indian authors, but the gist and reviews on various online portals made me read this book. So it is Amish and his Shiva who are responsible for me over coming my mental block and venturing into the land of Indian writing in English.
                    </p>
                    <p>
                        The trilogy has some very strong points, primary being the plot. The base of Shiva as a human with his share of goodness and weakness was a unique concept at the time of his writing a novel and has been responsible for many copy cats later. This is emphasised in the way the character is portayed as a marijuana smoking, uncouth immigrant who cannot relate or adapt to the stoic rules of Meluha but is sincere in his work, responsibity and love for Sati, his wife. Amish's love and reverence to the Lord Shiva spills from every line he has written which is highly addictive and makes you fall in love with the protaginist and feel everthing he feels.<br>
                    </p>
                    <p>
                        Another storng point which won brownie points with me was Amish's potrayal of women in his book. Breaking away from the misogyny that is very typical of stories of ancient times, Amish potrays Sati as a strong, fierce warrior who fights with her men side by side against the enemy and is much more than just a pretty picture. The Prime Minister of the land is a strong, independent, wise woman and their healer is a capable lady who's knowledge is unquestionable. This series was gender equality at its best.
                    </p>
                    <p>
                    The humanity of Shiva is another strong point of the book. Amish has made Shiva a man with his shortcomings and vulnerabilities till the climax of the book where he takes his decision based on his anger and his loss.
                    </p>
                    <p>
                    Overall its a refreshing take on Indian mythology.. one  which does not dissappoint you at all...
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <h4>Godfather - Mario Puzo</h4><h5> By Nisha Ramakrishnan</h5>
                    <p>
                        Tom Hanks, the actor, had claimed in his movie "You've got mail", that the answer to all of life's solutions can be found in The Godfather. There are many who believe so, including me! The age old tale of shift of power through generations and one man's journey from an idealistic, clean person to one of the most ruthless mafia bosses is extra ordinary beyond words. But Mario Puzo does a brilliant job of telling the story from an insider's point of view.  The story hooks you on from the first page onwards.
                    </p>
                    <p>
                        The story which went on to inspire the movies (which by the way did full justice to the books), has some classic scenes and dialogues which can be used in any context. From the classic..:"I'm gonna make him an offer he can't refuse", to the scene of the head of the horse on one of the character's bed, almost all aspects of this book have been either copied or parodied by many many people throughout the ages.
                    </p>
                    <p>
                        The fact that Mario Puzo, manages to make the readers care and feel for his characters from the book, which in real life, we would term as criminals, is proves the sheer mastery of this author. This is classic storytelling at its best.
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <h4>Gone girl - Gillian Flynn</h4><h5> By Nisha Ramakrishnan</h5>
                    <p>
                        The best way to describe this book will be as a Physco chick lit. The story is wicked, twisted, dark and the characters are deranged to the point of being dangerous. The book is absolutely fun to read with the plot twist hitting you smack in the face when you least expect it. Written in a "He says, She says" context, the book brilliantly pulls apart and brings to light the minds and the relationship of a husband and wife. Don't be fooled by the long and boring first half of the book. It's frustratingly slow and the almost wants you to give up, but then the pace picks up so fast and so brilliantly that you are just glad that you didnt.
                    </p>
                    <p>
                        This books throws out very deep questions about marriage and relationships. Is the person who you married to actually the person you know or are you married to the mask the person portrays to the world, what if the mask comes off and the truth comes out? Will the love and marriage remain the same? The relationship between the lead couple is so sick and horrifying that any reader with a faint heart will not be able to take it!!
                    </p>
                    <p>
                        In short an astounding book on the courtship and marriage of an "ordinary" couple.
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <h4>The Zoya Factor - Anuja Chauhan</h4><h5> By Nisha Ramakrishnan</h5>
                    <p>
                        A word of warning to anyone planning to read it in public. DON'T.I have been a subject of many dirty stares while laughing out loud while reading this book on my way to work on a public bus.
                    </p>
                    <p>
                        There is not much to say about the plot of the book which is about a young media advertising executive, Zoya Solanki, who is thrust on the Indian Cricket Team on their World Cup Campaign in Australia. Her role in the Team is that of a "Lucky Mascot". Yes. You read it right. Her "Luckiness" as Zoya calls it in the book comes into light when it is discovered that she was born at the exact date and moment when the Indian Cricket Team last won the World Cup. It is eventually concluded that whichever team she has breakfast with on the day of the match wins the game!!!. Thus, an all expense paid trip to Australia and the hope of a billion hearts and the responsibily of ensuring that the Indian Cricket Team wins this world Cup rests on her shoulders.
                    </p>
                    <p>
                        It is the absolutely funny one liners and the generous sprinkle of the local language that sets this book apart from the other Rom Coms. Anuja Chauhan's writing is young, peppy and in sync with the current times. In addition to that, cricket, being an universal topic, the subject caters to all age groups. Add to it the fairy tale like romance between Zoya and the captain of the Indian Cricket Team, Nikhil Khoda, the book is a sure fire cracker.
                    </p>
                    <p>
                        All in all a book that you will thoroughly enjoy.
                    </p>
                </div>
                <hr>
                <!--<div ng-show="user">
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/submitUserArticle"
                                              role="button">Submit your article</a></p>
                </div>-->
            </div>
        </div>
    </div>
</div>