<div class="container-fluid" ng-controller="SubmitEditorialController">
    <div class="row">
        <div class="main">
            <div>
                <h3>Submit your article</h3>

            </div>
            <br>
            <form class="form-horizontal" ng-model="article">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-4">
                        <input ng-model="article.title" type="text" class="form-control" id="title" placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">Content:</label>
                    <div class="col-sm-4">
                        <textarea ng-model="article.content" rows="10"
                                  class="form-control" id="content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button
                                ng-click="submitArticle(article)"
                                class="btn btn-primary btn-block">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            <br>
        </div>

    </div>
</div>