<div ng-controller="CarouselController">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" ng-model="book1">
            <div class="first-slide">
                <div class="col-sm-4">
                    <a href="#/bom/{{book2.googleBooksId}}">
                        <img  class="img-side" ng-src="{{book2.imageURL}}" alt="First slide">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/bom/{{book1.googleBooksId}}">
                        <img  class="img-center" ng-src="{{book1.imageURL}}" alt="First slide">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/bom/{{book3.googleBooksId}}">
                        <img  class="img-side" ng-src="{{book3.imageURL}}" alt="First slide">
                    </a>
                </div>
            </div>
            <div class="header-container">
                <a href="#/booksOfMonth">
                <div class="carousel-caption">
                    <p>
                    <h2>Books of the month</h2>
                    </p>
                </div>
                </a>
            </div>
        </div>
        <div class="item" ng-model="book2">
            <div class="second-slide">
                <div class="col-sm-4">
                    <a href="#/bom/{{book3.googleBooksId}}">
                        <img  class="img-side" ng-src="{{book3.imageURL}}" alt="Second slide">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/bom/{{book2.googleBooksId}}">
                        <img  class="img-center" ng-src="{{book2.imageURL}}" alt="Second slide">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/bom/{{book1.googleBooksId}}">
                        <img  class="img-side" ng-src="{{book1.imageURL}}" alt="Second slide">
                    </a>
                </div>
            </div>
            <div class="header-container">
                <a href="#/booksOfMonth">
                <div class="carousel-caption">
                    <p>
                    <h2>Books of the month</h2>
                    </p>
                </div>
                </a>
            </div>
        </div>
        <div class="item" ng-model="book3">
            <div class="third-slide">
                <div class="col-sm-4">
                    <a href="#/bom/{{book1.googleBooksId}}">
                        <img  class="img-side" ng-src="{{book1.imageURL}}" alt="Third slide">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/bom/{{book3.googleBooksId}}">
                        <img  class="img-center" ng-src="{{book3.imageURL}}" alt="Third slide">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/bom/{{book2.googleBooksId}}">
                        <img  class="img-side" ng-src="{{book2.imageURL}}" alt="Third slide">
                    </a>
                </div>
            </div>
            <div class="header-container">
                <a href="#/booksOfMonth">
                <div class="carousel-caption">
                    <h3>Books of the month</h3>
                    </p>
                </div>
                </a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div><!-- /.carousel -->