<div class="container" ng-controller="FeaturettesController">
    <div class="container">
        <br>
        <br>
        <div class="row" >
            <div class="col-sm-3">
                <div class="row col-xs-12 standard_wrapper">
                    <div>
                        <hr>
                        <h3 class="vertical-title"> Genres </h3>
                        <hr>
                    </div>
                    <div class="text-center">
                        <img class="img-circle" src="client/images/Classics.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/genre/classic">
                            <h4>Classics</h4>
                        </a>
                        <!--<p><a class="btn btn-default" href="#" role="button">Browse books &raquo;</a></p>-->
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="img-circle" src="client/images/Romance.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/genre/romance">
                            <h4>Romance</h4>
                        </a>
                        <!--<p><a class="btn btn-default" href="#" role="button">Browse books &raquo;</a></p>-->
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="img-circle" src="client/images/Fiction.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/genre/fiction">
                            <h4>Fiction</h4>
                        </a>
                        <!--<p><a class="btn btn-default" href="#" role="button">Browse books &raquo;</a></p>-->
                    </div>
                    <hr>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/genre" role="button">Search Genres</a></p>
                </div>
            </div>

            <div class="col-sm-6 mycontent-center">
                <div class="row col-xs-12 standard_wrapper">
                    <div>
                        <hr>
                        <h3 class="vertical-title"> New Releases </h3>
                        <hr>
                    </div>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/glass_sword.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/search/The Glass Sword">
                        <h4>The Glass Sword</h4>
                        </a>
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/cellar.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/search/The Cellar">
                            <h4>The Cellar</h4>
                        </a>
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/road_to_character.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/search/The Road to Character">
                            <h4>The Road to Character</h4>
                        </a>
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/go_set_a_watchman.jpg" alt="Generic placeholder image" width="140" height="140">
                        <a href="#/search/Go Set a Watchman">
                        <h4>Go Set a Watchman</h4>
                        </a>
                    </div>
                    <hr>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/search" role="button">Search Books</a></p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row col-xs-12 standard_wrapper">
                    <div>
                        <hr>
                        <h3 class="vertical-title"> Articles </h3>
                        <hr>
                    </div>
                    <div class="text-center">
                        <ul class="list-unstyled">
                            <li>
                                <b>Shiva Trilogy</b><br> The story of Lord Shiva told in 3 parts is one of the most riveting stories that I have read in a long long time.
                            </li>
                            <hr>
                            <li>
                                <b>Godfather</b><br> Tom Hanks, the actor, had claimed in his movie "You've got mail", that the answer to all of life's solutions can be found in The Godfather.
                            </li>
                            <hr>
                            <li>
                                <b>Gone girl</b><br>  The best way to describe this book will be as a Physco chick lit.
                            </li>
                            <hr>
                            <li>
                                <b>The Zoya Factor</b><br> A word of warning to anyone planning to read it in public. DON'T.
                            </li>
                            <hr>
                        </ul>
                    </div>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/userArticles#articles" role="button">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette" ng-model="editorial">
            <div class="col-md-7">
                <h2 class="featurette-heading">Editor's Article</h2>
                <p class="lead" ng-bind-html="title">
                    {{title}}
                </p>
                <p class="text-center"><a class="btn btn-lg btn-primary" href="#/opinion#editorial" role="button">Read More</a></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block"
                     src="client/images/editor.jpg">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <!-- /END THE FEATURETTES -->
    <div class="container">
        <!-- FOOTER -->
        <footer>
            <p class="pull-right">Editorial and Articles by
                <a target="_blank" href="https://in.linkedin.com/in/nisha-ramakrishnan-0aab88107">Nisha Ramakrishnan</a>
            </p>
            <p>Copyright &copy; 2016 &middot; Sneha Gaikwad</p>
            <div class="footer-icons text-center">
                <ul class="social-network social-circle">
                    <li><a href="https://github.com/snehag28/WebDevSpring2016"
                           target="_blank" class="icoGit" title="Github"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/gaikwadsneha"
                           target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    </div><!-- /.container -->
</div>