<div class="container" ng-controller="FeaturettesController">
    <div class="container">
        <div class="row" >
            <div class="col-sm-3">
                <div class="row col-xs-12 standard_wrapper">
                    <div>
                        <hr>
                        <h3 class="vertical-title"> Genres </h3>
                        <hr>
                    </div>
                    <div class="text-center">
                        <img class="img-circle" src="client/images/Classics.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>Classics</h4>
                        <!--<p><a class="btn btn-default" href="#" role="button">Browse books &raquo;</a></p>-->
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="img-circle" src="client/images/Romance.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>Romance</h4>
                        <!--<p><a class="btn btn-default" href="#" role="button">Browse books &raquo;</a></p>-->
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="img-circle" src="client/images/Fiction.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>Fiction</h4>
                        <!--<p><a class="btn btn-default" href="#" role="button">Browse books &raquo;</a></p>-->
                    </div>
                    <hr>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/genre" role="button">Search Genres</a></p>
                </div>
            </div>

            <div class="col-sm-6 mycontent-center">
                <div class="row col-xs-12 standard_wrapper">
                    <div>
                        <hr>
                        <h3 class="vertical-title"> New Releases </h3>
                        <hr>
                    </div>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/glass_sword.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>
                            The Glass Sword
                        </h4>
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/obsession.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>
                            The Obsession
                        </h4>
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/road_to_character.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>
                            The Road to Character
                        </h4>
                    </div>
                    <hr>
                    <div class="text-center">
                        <img class="media med-book-verti" src="client/images/go_set_a_watchman.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h4>
                            Go Set a Watchman
                        </h4>
                    </div>
                    <hr>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/search" role="button">Search Books</a></p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row col-xs-12 standard_wrapper">
                    <div>
                        <hr>
                        <h3 class="vertical-title"> Articles </h3>
                        <hr>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li>Article-1 : By User1 on Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </li>
                            <hr>
                            <li>Article-2 : By User2 on Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </li>
                            <hr>
                            <li>Article-3 : By User3 on Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </li>
                            <hr>
                            <li>Article-4 : By User4 on Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </li>
                            <hr>
                        </ul>
                    </div>
                    <p class="text-center"><a class="btn btn-lg btn-primary" href="#/userArticles" role="button">More Articles</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Editor's Article</h2>
                <p class="lead">
                    Pride and Prejudice has one of the most famous opening lines in English Literature -
                    "It is a truth universally acknowledged that a single man in possession of a good fortune must be in want of a wife. And, of course, a single woman in search of a good fortune must equally be in want of a husband who has one!”
                </p>
                <p class="text-center"><a class="btn btn-lg btn-primary" href="#/opinion#editorial" role="button">Read More</a></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="client/images/pride_and_prejudice.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <!-- /END THE FEATURETTES -->
    <div class="container">
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

    </div><!-- /.container -->
</div>