<div class="container" ng-controller="OpinionController">
    <div class="container">
        <div class="row" >
            <div class="main">
                <h3 class="vertical-title">
                    <a href="#/booksOfMonth">
                        Books of the Month
                    </a>
                </h3>
                <br>
                <div class="col-sm-4  text-center">
                    <img class="media med-book-hori" src="client/images/godfather.png" alt="Generic placeholder image" width="140" height="140">
                    <h3><a href="#/bom_1">The Godfather</a></h3>
                </div>
                <div class="col-sm-4  text-center">
                    <img class="media med-book-hori" src="client/images/horse_whisperer.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h3><a href="#/bom_2">The Horse Whisperer</a></h3>
                </div>
                <div class="col-sm-4  text-center">
                    <img class="media med-book-hori" src="client/images/the_alchemist.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h3><a href="#/bom_3">The Alchemist</a></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing"  id="editorial">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-8">
                <h2>Editor's Article</h2>
                <p>
                    Pride and Prejudice has one of the most famous opening lines in English Literature -
                    "It is a truth universally acknowledged that a single man in possession of a good fortune must be in want of a wife. And, of course, a single woman in search of a good fortune must equally be in want of a husband who has one!”
                    </p>
                <p>
                    With this introduction, the line sets the base for the plot of the book. The story is set in the early 1800s, the story talks about the pride of a man - Mr. Darcy and the prejudice of a woman - Ms. Elizabeth Bennet.
                    </p>
                <p>
                    Jane Austen's stories were said to have a sarcastic and dark humorous view on the life and society of the 1800s. She had a shrewd eye for the characters she developed and the characters in Pride and Prejudice are no different. From the fiery and independent Elizabeth to the handsome and proud Darcy, the pompous Mr. Collins and the shy and elegant Jane and even the witty and clever Mr. Bennet all characters are sketched so finely that you cannot help but associate with them. The language though considered mediocre by many,is believably human. I specically loved the banter betweeen the main protaginists, Elizabeth and Mr. Darcy which highlighted the progression in their relationship from hatred to respect to love.
                    </p>
                <p>
                    This is a story that can be re-read many many times (like I do) and can be recommended to youngsters wanting to venture into classic English Literature.
                </p>
            </div>
            <div class="col-md-4">
                <img class="featurette-image img-responsive center-block" src="client/images/pride_and_prejudice.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <br>
        <div ng-show="user && user.roles.indexOf('editor') >=0">
                <p class="text-center">
                    <a class="btn btn-lg btn-primary" href="#/submitEditorial"
                                          role="button">New editorial</a>

                    <a class="btn btn-lg btn-primary" href="#/submitEditorial"
                                          role="button">Edit editorial</a>
                </p>
        </div>

        <hr class="featurette-divider">
    </div>

    <div class="container">
        <div class="row" >
            <div>
                <h3 class="vertical-title">
                    <a href="#/userArticles">
                        User Articles of the Month
                    </a>
                </h3>
                <br>
                <div class="col-sm-3 text-center ">
                    <h4>Article:1</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="col-sm-3 text-center ">
                    <h4>Article:2</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="col-sm-3 text-center ">
                    <h4>Article:3</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="col-sm-3 text-center ">
                    <h4>Article:4</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div ng-show="user">
            <p class="text-center"><a class="btn btn-lg btn-primary" href="#/submitUserArticle"
                                      role="button">Submit your article</a></p>
        </div>

    </div>

</div>