<div class="container" ng-controller="OpinionController">
    <div class="container">
        <div class="row" >
            <div class="main">
                <h3 class="vertical-title">
                    <a href="#/booksOfMonth">
                        Books of the Month
                    </a>
                </h3>
                <br>
                <div class="col-sm-4  text-center">
                    <img class="media med-book-verti" ng-src="{{book1.imageURL}}" alt="Generic placeholder image">
                    <h3><a href="#/bom/{{book1.googleBooksId}}">{{book1.title}}</a></h3>
                </div>
                <div class="col-sm-4  text-center">
                    <img class="media med-book-verti" ng-src="{{book2.imageURL}}" alt="Generic placeholder image">
                    <h3><a href="#/bom/{{book2.googleBooksId}}">{{book2.title}}</a></h3>
                </div>
                <div class="col-sm-4  text-center">
                    <img class="media med-book-verti" ng-src="{{book3.imageURL}}" alt="Generic placeholder image">
                    <h3><a href="#/bom/{{book3.googleBooksId}}">{{book3.title}}</a></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing"  id="editorial" ng-model="editorial">
        <hr class="featurette-divider">
        <div class="row featurette" >
            <div class="col-md-8">
                <h2>Editor's Article</h2>
                <p ng-bind-html="title">
                    {{title}}
                </p>
                <p ng-bind-html="content">
                    {{content}}
                </p>
            </div>
            <div class="col-md-4">
                <img class="featurette-image img-responsive center-block"
                     src="client/images/editor.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <br>
        <div ng-show="user && user.role == 'editor'">
                <p class="text-center">
                    <a class="btn btn-lg btn-primary" href="#/submitEditorial"
                                          role="button">New editorial</a>

                    <a class="btn btn-lg btn-primary" href="#/submitEditorial/{{editorial._id}}"
                                          role="button">Edit editorial</a>
                </p>
        </div>

        <hr class="featurette-divider">
    </div>

    <div class="container">
        <div class="row" >
            <div>
                <h3 class="vertical-title">
                    <a href="#/userArticles">
                        User Articles of the Month
                    </a>
                </h3>
                <br>
                <div class="col-sm-3 text-center ">
                    <h4>Shiva Trilogy <br> By Amish Tripathi</h4>
                    <p>
                        The story of Lord Shiva told in 3 parts is one of the most riveting stories that I have read in a long long time.
                    </p>
                </div>
                <div class="col-sm-3 text-center ">
                    <h4>Godfather<br> By Mario Puzo</h4>
                    <p>
                        Tom Hanks, the actor, had claimed in his movie "You've got mail", that the answer to all of life's solutions can be found in The Godfather.
                    </p>
                </div>
                <div class="col-sm-3 text-center ">
                    <h4>Gone girl <br> By Gillian Flynn</h4>
                    <p>
                        The best way to describe this book will be as a Physco chick lit.
                    </p>
                </div>
                <div class="col-sm-3 text-center ">
                    <h4>The Zoya Factor <br> Anuja Chauhan</h4>
                    <p>
                        A word of warning to anyone planning to read it in public. DON'T.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <!--<div ng-show="user">
            <p class="text-center"><a class="btn btn-lg btn-primary" href="#/submitUserArticle"
                                      role="button">Submit your article</a></p>
        </div>-->

    </div>

</div>