<div class="container" ng-controller="BooksOfMonthController">
    <div class="container">
        <div class="row" >
            <div class="main">
                <h3 class="vertical-title">
                        Books of the Month
                </h3>
                <br>
                <div class="text-center">
                    <img class="media med-book-hori" ng-src="{{book1.imageURL}}" alt="Generic placeholder image" width="140" height="140">
                    <h3><a href="#/bom/{{book1.googleBooksId}}">{{book1.title}}</a></h3>
                </div>
                <hr>
                <div class="text-center">
                    <img class="media med-book-hori" ng-src="{{book2.imageURL}}" alt="Generic placeholder image" width="140" height="140">
                    <h3><a href="#/bom/{{book2.googleBooksId}}">{{book2.title}}</a></h3>
                </div>
                <hr>
                <div class="text-center">
                    <img class="media med-book-hori" ng-src="{{book3.imageURL}}" alt="Generic placeholder image" width="140" height="140">
                    <h3><a href="#/bom/{{book3.googleBooksId}}">{{book3.title}}</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>