
<div class="container-fluid" ng-controller="BookshelfController">
    <div class="row">
        <div class="main">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#profile" aria-controls="forms" role="tab" data-toggle="tab">
                        Profile
                    </a>
                </li>
                <li role="presentation"  class="active">
                    <a href="#/bookshelf" aria-controls="forms" role="tab">
                        Bookshelf
                    </a>
                </li>
                <li role="presentation">
                    <a href="#/people" aria-controls="forms" role="tab">
                        People
                    </a>
                </li>
            </ul>
            <br>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar mycontent-left mycontent-right">
                        <ul class="nav nav-pills nav-stacked nav-sidebar">
                            <li>
                                Bookshelves:
                            </li>
                            <li ng-class="{'active' : $location.url().indexOf('bookshelf') != -1}">
                                <a href="#/bookshelf">All</a>
                            </li>
                            <li ng-class="{'active' : $location.url().indexOf('read') != -1}">
                                <a href="#/read">Read</a>
                            </li>
                            <li ng-class="{'active' : $location.url().indexOf('future') != -1}">
                                <a href="#/future">To-Read</a>
                            </li>
                            <li ng-class="{'active' : $location.url().indexOf('current') != -1}">
                                <a href="#/current">Currently Reading</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-md-10 ">
                        <h3 class="sub-header">To-Read:</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Cover</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Shelf</th>
                                    <th>Rating</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <input ng-model="newBook.title" type="text" class="form-control" id="title" readonly>
                                    </td>
                                    <td>
                                        <input ng-model="newBook.authors" type="text" class="form-control" id="authors" readonly>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"
                                                    data-placeholder="false">
                                                {{newBook.currentUserShelf.shelf}}
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <input type="radio" id="{{book.id}}_1" name="{{book.id}}"
                                                           ng-model="newBook.currentUserShelf.shelf" value="read">
                                                    <label for="{{book.id}}_1">read</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="{{book.id}}_2" name="{{book.id}}"
                                                           ng-model="newBook.currentUserShelf.shelf" value="to-read">
                                                    <label for="{{book.id}}_2">to-read</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="{{book.id}}_3" name="{{book.id}}"
                                                           ng-model="newBook.currentUserShelf.shelf" value="currently-reading">
                                                    <label for="{{book.id}}_3">currently-reading</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"
                                                    data-placeholder="false">
                                                {{newBook.currentUserShelf.rating}}
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <input type="radio" id="rating_1" name="{{book.id}}_rating"
                                                           ng-model="newBook.currentUserShelf.rating" value="1">
                                                    <label for="rating_1">1</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="rating_2" name="{{book.id}}_rating"
                                                           ng-model="newBook.currentUserShelf.rating" value="2">
                                                    <label for="rating_2">2</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="rating_3" name="{{book.id}}_rating"
                                                           ng-model="newBook.currentUserShelf.rating" value="3">
                                                    <label for="rating_3">3</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="rating_4" name="{{book.id}}_rating"
                                                           ng-model="newBook.currentUserShelf.rating" value="4">
                                                    <label for="rating_4">4</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="rating_5" name="{{book.id}}_rating"
                                                           ng-model="newBook.currentUserShelf.rating" value="5">
                                                    <label for="rating_5">5</label>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>
                                    <td nowrap>
                                        <button ng-click="updateBook(newBook)"
                                                class="btn btn-success">
                                            Update
                                        </button>
                                        <button ng-click="cancel()"
                                                class="btn btn-success">
                                            Cancel
                                        </button>
                                    </td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="book in books">
                                    <td>
                                        <img height="100px" ng-src="{{book.imageURL}}"/>
                                    </td>
                                    <td>
                                        {{book.title}}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="author in book.authors">
                                                {{author}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        {{book.currentUserShelf.shelf}}
                                    </td>
                                    <td>
                                        {{book.currentUserShelf.rating}}
                                    </td>
                                    <td nowrap>
                                        <button ng-click="selectBook($index)"
                                                class="btn btn-info">
                                            Select
                                        </button>
                                        <button ng-click="deleteBook($index)"
                                                class="btn btn-danger">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
