<div class="container" ng-controller="SearchController">
    <div class="row">
        <div class="main">
            <div>
                <h3>Search Books</h3>
            </div>

            <div>
                <input ng-model="bookname" id="bookTitleTxt" class="form-control" placeholder="Harry Potter"/>
                <br>
                <button id="searchBookBtn" ng-click="searchBook(bookname)" class="btn btn-primary btn-block">Search Book</button>
            </div>
            <div>
                <br>
                <table id="contentTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Poster</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="book in books">
                        <td>
                            <img height="100px" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}"/>
                        </td>
                        <td>
                            {{book.volumeInfo.title}}
                        </td>
                        <td>
                            {{book.volumeInfo.authors}}
                        </td>
                        <td>
                            <button ng-click="selectBook(book)" class="btn btn-primary">Details</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>